<div class="container ft-padrao">
    <form class="form-principal">
        <h3 class="text-center">LOGIN</h3>
        <hr>
        <div class="order mt-4">
            
            <i class="far fa-user"></i>
            <input class="_form" type="email" name="email" src="" placeholder="E-mail">
            
            <i class="fas fa-unlock-alt"></i>
            <input class="_form" type="password" name="email" placeholder="Password">
        </div>
    
        <div class="row d-flex justify-content-center">
            <button type="button" class="mybtn" routerLink='/index'>Entrar</button>
        </div>    
    
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" routerLink='/cadastro'>
                    <span>Cadastrar</span>
                </a>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <a class="nav-link" routerLink='/recuperarsenha'>
                    <span>Recuperar senha</span>
                </a>
            </div>
        </div>
    </form>
</div>