<div class="container-fluid">
    <div id="mySidenav" class="sidenav">
        <div class="sidebar" id="menu">
            <a href="#" class="active">
                <i class="fas fa-home fa-2x"></i>
                <span>Dashboard</span>
            </a>
            <a href="#">
                <i class="fas fa-list-ul fa-2x"></i>
                <span>Categorias</span>
            </a>
            <a href="#">
                <i class="fas fa-box-open fa-2x"></i>
                <span>Produtos</span>
            </a>
            <a href="#">
                <i class="fas fa-file-invoice fa-2x"></i>
                <span>Pedidos</span>
            </a>
            <a href="#">
                <i class="fas fa-users fa-2x"></i>
                <span>Clientes</span>
            </a>
            <a href="#">
                <i class="fas fa-chart-pie fa-2x"></i>
                <span>Relatórios</span>
            </a>
            <a href="#">
                <i class="fas fa-key fa-2x"></i>
                <span>Usuários</span>
            </a>
            <a href="#">
                <i class="fas fa-sign-out-alt fa-2x "></i>
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>