$bg_color1: #5f7c8a;

.sidebar{
    position: absolute;
    left: 0px;
    width: 240px;
    transition: all .5s ease;
    background-color: #adb5bd;
    box-shadow: 1px 0px 10px #ced4da;

    a{
        display: block;
        height: 65px;
        width: 100%;
        color: #212529;
        line-height: 65px;
        padding-left: 30px;
        box-sizing: border-box;
        border: 1px solid rgba(108, 117, 125, 0.5);
        border-left: 5px solid transparent;
        font-family: 'Open Sans', sans-serif;
        transition: all .5s ease;
        text-decoration: none;

        i{
            font-size: 23px;
            margin-right: 16px;
        }
        span{
            letter-spacing: 1px; /* espaçamento das letras*/
            text-transform: uppercase;
        }
        
        &:hover{
            border-left: 5px solid #e9ecef;
            border-bottom: 1px solid #e9ecef;
            color: #e9ecef;
        }
    }  
}

#check{
    display: none;
}

/*botões */
label #btn{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: 1px solid #262626;
    margin: 0 5px;
    font-size: 28px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}

@media(max-width: 860px){
    
    .sidebar{
        height: 100vh;
        width: 70px;
        left: 0;
        top: 0px;

        a{
            height: 60px;

            &:hover{
                width: 250px;
                background: inherit;

                span{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        i{
            margin-left: -10px;
        }
    }

    #btn, #cancel{
        display: none;
    }

    span{
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
}