<div class="container-fluid">
    <header class="dash-nav">
        <h3 class="txt-title">Simple-Finance</h3>
        <h5 class="txt-title">Oi, Alexandre</h5>
    </header>
</div>

<div class="flex-dashboard">
    <main>
        <div class=" container-fluid main-content">

            <div class="container mt-2 px-4">
                <div class="row gx-5">
                    <div class="col-sm mt-2 mb-3">
                        <div class="box-menu">
                            <div class="row">
                                <div class="col-sm-2 bg-box">
                                    <i class="fas fa-home icon-size"></i>
                                </div>
                                <div class="col-sm mt-2 mx-3">
                                    <span class="p-list f-rigth ft-padrao ">Receitas</span><br>
                                    <span class="p-list f-rigth font-bold blue-dark">R$ 1.000,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm mt-2 mb-3">
                        <div class="box-menu">
                            <div class="row">
                                <div class="col-sm-2 m-3">
                                    <i class="fas fa-home bg-box"></i>
                                </div>
                                <div class="col-sm mt-2 mx-3">
                                    <span class="p-list f-rigth ft-padrao ">Receitas</span><br>
                                    <span class="p-list f-rigth font-bold blue-dark">R$ 1.000,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm mt-2 mb-3">
                        <div class="box-menu">
                            <div class="row">
                                <div class="col-sm-2 m-3">
                                    <i class="fas fa-home bg-box"></i>
                                </div>
                                <div class="col-sm mt-2 mx-3">
                                    <span class="p-list f-rigth ft-padrao ">Receitas</span><br>
                                    <span class="p-list f-rigth font-bold blue-dark">R$ 1.000,00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="canvas mt-2">
                <app-dashgraph></app-dashgraph>
            </div>
        </div>
    </main>
</div>