$bg_color: #5f7c8a;
$shadow: 15px 10px 10px #385766;

.container{
    background-color: #FFFFFF;
    width: 55%;
    min-width: 300px;
    min-height: 350px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    z-index: 1;
    box-shadow: $shadow;
    padding: 2rem;

    label{
        font-size: 13px;
        padding: 0;
        margin: 0;
    }
    .header{
        text-transform: uppercase;
        color: #5f7c8a;
    }
}

.position-ck{
    display: flex;
    justify-content: flex-end;
    
    .form-check{
        padding-right: 1rem;
    }
}